.sideBarNav {
  overflow: hidden;
  marginbottom: 32px;
}

.sideBarNav:hover {
  overflow-y: auto;
}

.sideBarNav::-webkit-scrollbar {
  width: 0.3rem !important;
  height: 0.3rem !important;
  background-color: transparent;
}

.addButton{
  span{
    display: flex;
    align-items: center;
  }
}
